[build]
  base = "LadendetektivApp"
  publish = "."
  functions = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[headers]]
  for = "/firebase-messaging-sw.js"
  [headers.values]
    Cache-Control = "no-cache"

[[redirects]]
  from = "/firebase-messaging-sw.js"
  to = "/firebase-messaging-sw.js"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
